/* Add these styles to your CSS file */
.tooltipp {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltipp .tooltipptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px; /* Adjust this value for proper placement */
    left: 50%;
    transform: translateX(-50%);
}

.tooltipp:hover .tooltipptext {
    visibility: visible;
}
